<h1>Login</h1>

<div class="flex">
 <div class="new-com-sign-up">
    <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :email %><label class="star">*</label><br>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field">
        <%= label_tag :password %><label class="star">*</label><br>
        <%= password_field_tag :password %>
      </div>
      <div class="actions"><%= submit_tag "Log in", :class => "btn-log-in"  %></div>
    <% end %>
  </div>
</div>

<span class="star">*</span>

