<h2>Edit Employee Info</h2>

<% if @user.access_lvl < 3 %>
  <h3><%= link_to 'Remove this employee', company_users_path(current_company),
      method: :delete, data: { confirm: 'Are you sure, all employee info will be lost.' } %>
  </h3>
<% end %>


<div class="flex">
  <div class="new-com-sign-up">
    <%= form_for [@company, @user] do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
          <% end %>
        </ul>
        </div>
      <% end %>

    <div class="field">
        <%= f.label "First name" %><br>
        <%= f.text_field :first_name, :placeholder => "First Name" %>
    </div>
    <div class="field">
        <%= f.label "Last name" %><br>
        <%= f.text_field :last_name, :placeholder => "Last Name" %>
    </div>
    <div class="field">
        <%= f.label "Email" %><br>
        <%= f.text_field :email, :placeholder => "Email"  %>
    </div>
    <div class="field">
        <%= f.label "Date of Birth" %><br>
        <%= f.date_field :born_on, :start_year => 1899 %>
    </div>
    <div class="field">
        <%= f.label "Title" %><br>
        <%= f.text_field :title, :placeholder => "title" %>
    </div>
    <div class="field">
        <%= f.label "Hourly" %><br>
        <%= f.text_field :pay_rate, :placeholder => "Pay rate" %>
    </div>

    <div class="field">
        <%= f.label "Phone Number" %><br>
        <%= f.text_field :phone_num, :placeholder => "Pay rate" %>
    </div>


    <% if @user.id != @company.owner_id  %>

      <div class="field">
          <%= f.label "Access level:" %><br>
          <%= f.select :access_lvl, options_for_select([
            ["Regular Employee", 1],
            ["Manager", 2],
          ]) %>
      </div>
    <% end %>

      <br>
    <div><%= f.submit "Submit", :class => "new" %></div>
<% end %>
</div>




