<%= render "user_info" %>


<% if current_user.access_lvl > 1 %>
<h2 class="portion-header"><%= current_company.name %> - List of employees</h2>
<h3 class="enroll"><%= link_to "Enroll a new employee", company_users_new_employee_path(current_company.id) %></h3>
  <br>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Work Title</th>
        <th>Position</th>
        <th>Total Hours</th>
        <th>On Shift</th>
        <th>Edit Info</th>
        <th>Remove Employee</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <% if user.company_id == current_company.id %>
        <tr>
          <td><%= link_to user.first_name.titleize, company_user_path(user.company_id,user.id) %></td>
          <td><%= link_to user.last_name.titleize, company_user_path(user.company_id,user.id) %></td>
          <% if user.title != nil %>
            <td><%= link_to user.title.titleize, company_user_path(user.company_id,user.id) %></td>
          <% else %>
            <<td></td>
          <% end %>
          <td><%= link_to user.access, company_user_path(user.company_id,user.id) %></td>
          <td><%= user.sum_hours %></td>
          <td><%= user.checked_in %></td>
          <td><%= link_to "Edit Info", edit_company_user_path(user.company_id,user.id) %></td>
          <% if user.access_lvl != 3 && current_user != user %>
            <td>
                <%= link_to 'Remove', company_user_path(user.company_id,user.id),
                method: :delete, data: { confirm: 'Are you sure, all employee info will be lost.' } %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<% end %>










