<h1>List of employee in Company <%= current_company.name %></h1>
<p>Find me in app/views/user/index.html.erb</p>

<h1>BIG</h1>

<table class="table">
  <% @users.each do |user| %>

<tr>
    <td><%= link_to user.first_name, edit_company_user_path(user.company_id,user.id) %></td>
    <td><%= link_to user.last_name, edit_company_user_path(user.company_id,user.id) %></td>
    <td><%= link_to user.title, edit_company_user_path(user.company_id,user.id) %></td>
    <td><%= link_to user.access_lvl, edit_company_user_path(user.company_id,user.id) %></td>
</tr>
  <% end %>
</table>




