<%= render "user_info" %>


<% if current_user.access_lvl > 1 %>
<h1>List of employee in Company <%= current_company.name %></h1>
<h3><%= link_to "Enroll a new employee", company_users_new_employee_path(current_company.id) %></h3>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Title</th>
        <th>Manager/Employee</th>
        <th>Week Total(hrs)</th>
        <th>On Shift</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <% if user.company_id == current_company.id %>
        <tr>
          <td><%= link_to user.first_name, company_user_path(user.company_id,user.id) %></td>
          <td><%= link_to user.last_name, company_user_path(user.company_id,user.id) %></td>
          <td><%= link_to user.title, company_user_path(user.company_id,user.id) %></td>
          <td><%= link_to user.access, company_user_path(user.company_id,user.id) %></td>
          <td><%= user.sum_hours %></td>
          <td><%= user.checked_in %></td>

          <% if user.access_lvl != 3 && current_user != user %>
          <td><%= link_to "Edit Info", edit_company_user_path(user.company_id,user.id) %></td>
          <td><%= link_to 'Remove', company_user_path(user.company_id,user.id),
              method: :delete, data: { confirm: 'Are you sure, all employee info will be lost.' } %>
          </td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>










