<h2 class="edit">Who is the owner of this company!</h2>



<div class="flex">
  <div class="new-com-sign-up">
    <%= form_for [@company, @user] do |f| %>
    <%= f.hidden_field :is_owner, value: true %>
      <% if @company.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @company.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label "First name" %><label class="star">*</label><br>
        <%= f.text_field :first_name, :placeholder => "John" %>
      </div>

      <div class="field">
        <%= f.label "Last name" %><label class="star">*</label><br>
        <%= f.text_field :last_name, :placeholder => "Smith" %>
      </div>

      <div class="field">
          <%= f.label "Email" %><label class="star">*</label><br>
          <%= f.text_field :email, :placeholder => "js@pacis.com" %>
      </div>

      <div class="field">
          <%= f.label "Password" %><label class="star">*</label><br>
          <%= f.password_field :password %>
      </div>

      <div class="field">
          <%= f.label "Confirm password" %><label class="star">*</label><br>
          <%= f.password_field :password_confirmation %>
      </div>

      <div class="hidden field">
          <%= f.label "access_level" %><br>
          <%= f.text_field :access_lvl, :value => 3 %>
          <%= f.text_field :pay_rate, :value => 0 %>
      </div>

      <div>
        <%= f.submit "Submit", :class => "new" %>
      </div>

    <% end %>
  </div>
</div>

