
<h2>Please type in new password</h2>

<div class="flex">
  <div class="new-com-sign-up">
    <%= form_for [@company, @user] do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Password is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>
      <div class="field">
          <%= f.label "New Password" %><label class="star">*</label><br>
          <%= f.password_field :password %>
      </div>
      <div class="field">
          <%= f.label "New Password confirmation" %><label class="star">*</label><br>
          <%= f.password_field :password_confirmation %>
      </div>
      <br>
      <div><%= f.submit "Submit" %></div>
    <% end %>
  </div>
</div>
