<h4>Enroll a new employee!</h4>


  <div class="form-container">
    <%= form_for [@company, @user] do |f| %>

    <%= f.hidden_field :is_owner, value: false %>

    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>
      </div>

         </div>

    <div>
        <%= f.label "First name:" %>
        <%= f.text_field :first_name %> *
    </div>
    <div>
        <%= f.label "Last name:" %>
        <%= f.text_field :last_name %> *
    </div>
    <div>
        <%= f.label "Email:" %>
        <%= f.text_field :email %> *
    </div>
    <div>
        <%= f.label "Date of Birth:" %>
        <%= f.date_select :born_on, :start_year => 1899 %>
    </div>
    <div>
        <%= f.label "Title:" %>
        <%= f.text_field :title %>
    </div>
        <div>
        <%= f.label "Hourly:" %>
        <%= f.text_field :pay_rate %>
    </div>
    <div>
        <%= f.label "Access level:" %>
        <%= f.select :access_lvl, options_for_select([
          ["Regular Employee", 1],
          ["Manager", 2],
        ]) %> *
    </div>
        <div>
            <%= f.label "Password preset to employee's initial" %>
        </div>



        <br>
        <div><%= f.submit "Submit" %></div>
    <% end %>
  </div>
