<h2>Your Info</h2>
    <h3>
      <% if @user.shifts.last.check_in == false %>
        <%= link_to "Clock In", new_user_shift_path(@user) %>
      <% elsif @user.shifts.last.check_in == true %>
        <%= link_to "Clock out", edit_user_shift_path(@user,@user.shifts.last) %>
      <% end %>
    </h3>
<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
      <th>Manager/Employee</th>
      <th>Week Total(hrs)</th>
      <th>In a shift?</th>
      <th>Edit Info</th>
    </tr>
  </thead>
    <tr>
      <td><%= @user.first_name %></td>
      <td><%= @user.last_name %></td>
      <td><%= @user.title %></td>
      <td><%= @user.access %></td>
      <td><%= @user.sum_hours %></td>
      <td><%= current_user.checked_in %></td>
      <td><%= link_to "Edit Info", edit_company_user_path(@user.company_id,@user.id) %></td>
    </tr>
</table>
<hr>

<h2>List of logged shifts</h2>
<table class="table">
  <thead>
    <tr>
      <th>Time Clocked in</th>
      <th>Time Clocked Out</th>
      <th>Shift in hour</th>

    </tr>
  </thead>
<% @shifts.where(user_id: @user.id).each do |p|  %>
  <tr>
    <td><%= p.in_at.localtime.to_formatted_s(:db) %></td>
    <% if p.logged_time != nil %>
    <td><%= p.out_at.localtime.to_formatted_s(:db) %></td>
      <td><%= '%.2f'%p.logged_time.round(2) %></td>
    <% end %>

<% end %>
  </tr>
  </table>

