<h1>Your Employee Info</h1>
    <h3><%= link_to "To Clock In", new_user_shift_path(@user) %></h3>
<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
      <th>Manager/Employee</th>
      <th>Week Total(hrs)</th>
      <th>In a shift?</th>
      <th>Edit Info</th>
    </tr>
  </thead>
  <tr>
    <td><%= @user.first_name %></td>
    <td><%= @user.last_name %></td>
    <td><%= @user.title %></td>
    <td><%= @user.access %></td>
    <td><%= link_to @user.sum_hours,edit_company_user_path(@user.company_id,@user.id) %></td>
    <td><%= current_user.checked_in %></td>
    <td><%= link_to "Edit Info", edit_company_user_path(@user.company_id,@user.id) %></td>
  </tr>
  </table>
<hr>
