
 <%= render "user_info" %>

<h2 class="portion-header low">List of logged shifts</h2>
<table class="table">
  <thead>
    <tr>
      <th>Time Clocked in</th>
      <th>Time Clocked Out</th>
      <th>Shift in hour</th>
      <th>Location</th>
    </tr>
  </thead>
<% @shifts.where(user_id: @user.id).each do |p|  %>
  <tr>
    <td><%= p.in_at.localtime.to_formatted_s(:db) %></td>
    <% if p.logged_time != nil %>
    <td><%= p.out_at.localtime.to_formatted_s(:db) %></td>
      <td><%= '%.2f'%p.logged_time.round(2) %></td>
      <td>
        <% if p.lat_in != nil && p.lat_in != nil %>
          <%= link_to "In", "https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=#{p.lat_in}%2C+#{p.long_in}", :target => "_blank" %>
        <% else %>
          In
        <% end %>
        |
        <% if p.lat_out != nil && p.lat_out != nil %>
          <%= link_to "Out", "https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=#{p.lat_out}%2C+#{p.long_out}", :target => "_blank" %>
        <% else %>
          Out
        <% end %>
      </td>

    <% end %>

<% end %>
  </tr>
  </table>

