<div class="shift-box">
    <h2 class="shift">CLICK BUTTON TO<BR> END SHIFT</h2>

    <%= form_for [@user,@shift] do |f| %>
      <div class="hidden">
        <%= f.text_field :out_at, :value => DateTime.now %>
        <%= f.text_field :lat_out, :id => "lat", :value => "" %>
        <%= f.text_field :long_out, :id => "long", :value => "" %>
      </div>
      <%= f.submit "Clock Out!", :class => "btn-out" %>
    <% end %>

    <div class="timer">
      <label> Current Shift </label> <br>
      <label id="hours">00</label><label> hr </label><label id="minutes">00</label><label> min </label><label id="seconds">00</label><label> sec</label>
         <label class="hidden" id="hid"><%= Time.now - @shift.created_at %></label>
    </div>

</div>










