<%= form_for @company do |f| %>
  <% if @company.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @company.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>

  <div>
    <%= f.label "Company name:" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label "Field:" %>
    <%= f.text_field :field %>
  </div>

  <div>
    <%= f.label "Country:" %>
    <%= country_select "company", :country, priority_countries: ["US", "CA", "MX", "CU"] %>
  </div>

  <div>
    <%= f.label "Timezone:" %>
    <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, default: "Pacific Time (US & Canada)" %>
  </div>

  <div>
    <%= f.label "Paid period start-day:" %>
    <%= f.select :week_start_day, options_for_select([
      ["Monday", 1],
      ["Tuesday", 2],
      ["Wednesday", 3],
      ["Thursday", 4],
      ["Friday", 5],
      ["Saturday", 6],
      ["Sunday", 7]
    ]) %>
  </div>

  <div>
    <%= f.label "Owner:" %>
    <%= f.text_field :owner_id %>
  </div>

  <div>
    <%= f.submit "Submit" %>
  </div>

<% end %>


