

<div class="front_page_login">
<% if not current_user %>
    <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="actions"><%= submit_tag "Log in" %></div>
    <% end %>
<%end%>
</div>

<p><%= notice %></p>




<section class="info">

    <div class="front-page-sign-in">
      <h1>Time tracking made easy</h1>
      <h2>Time card and payroll management application design for
            your small business and your employees</h2>
    </div>

    <h2><%= link_to "Registar Your Company With Pacis", new_company_path %></h2>

    <div class="intro">
      <div class="big-icons">
        <img class="big" src="https://i.imgur.com/i6FSvff.png">
        <div>
          <h2>Payroll</h2>
          <p>
            Cut down tedious hours spent on payroll each week to mere minutes.
              Easily approve timesheets and get detailed and real-time reports of labor expenses
              including regular time, overtime, vacation and PTO.
              You can spend less time on payroll and more time making a difference in your business.
          </p>
        </div>
      </div>
      <div class="big-icons">
        <img class="big" src="https://i.imgur.com/KiC9zR8.png">
          <div>
          <h2>Time Card</h2>
          <p>
            Clock in and get to work with just the click of a button,
              on smart phones, tablets or computers.
              Effortlessly manage clock-in, clock-out and take a break.
              Accessible everywhere your business go, and allows location tracking as well.
              It’s the 21st century time tracking made simple and made for your employees.
          </p>
        </div>
      </div>
    </div>



    <div class="owner-section">
      <h1>Many small business have signed up with Pacis, for free!</h1>
      <div class="owners-stories">
        <div class="each-owner">
          <img class="owner" src="https://i.imgur.com/206hFBU.png" alt="picture of business owner Bob Belcher">

          <p class="owner-quote">Pacis is great! After the grand-re-re-re-opening of my restaurant,
              I saved a lot of time and money.
              Now, I have more time to work on my burger of the day.

          </p>

          <p class="owner-quote"> <small>Bob Belcher<br> Restuarant owner and chef</small> </p>


        </div>

        <div class="each-owner">
          <img class="owner" src="https://i.imgur.com/DrwGdpA.png" alt="picture of business owner Boi Zhoi">

          <p class="owner-quote">
              This app and its location tracker has made it effortless
              to keep track of all my employees' time card on all my food trucks.
              I am glad I hopped on board.
          </p>
          <p class="owner-quote"><small>Boi Zhoi<br> Food trucks king of Los Angeles</small></p>
          <p></p>
        </div>


      </div>
  </div>


    <div class="small-icons">

      <div>
        <img class="icon" src="http://simpleicon.com/wp-content/uploads/happy_emotion-64x64.png">
        <span><strong>Employee loves Pacis</strong><br>
          <br>Simple and easy to use! Clock in, clock out within minutes.
          Time card record can be reviewed and manage anywhere anytime!
        </span>
      </div>
      <div>
        <img class="icon" src="http://simpleicon.com/wp-content/uploads/cloud-upload-2-64x64.png">
        <span><strong>Connect everywhere</strong><br>
          <br>Connect with smartphones, tablets or computers,
          you can cater your business to clients everywhere.
        </span>
      </div>
      <div>
        <img class="icon" src="http://simpleicon.com/wp-content/uploads/clock-time-9-64x64.png">
        <span><strong>Save time and work</strong><br>
          <br>Our organized time sheet and automated payroll calculation will
          save you from staring at excel sheets for hours!
        </span>
      </div>


    </div>
  <div class="sign-up">
    <h2>Free and simple time card and payroll management. Set up in minutes!</h2>
  </div>
</section>


<footer>
  <div class="footer-info">

    <div>
      <h5>About Pacis</h5>
      <ul>
        <li><a href="">The Story</a></li>
        <li><a href="">About Our CEO</a></li>
        <li><a href="">Meet Our Team</a></li>
        <li><a href="">Career</a></li>
        <li><a href="">Privacy</a></li>
      </ul>
    </div>


    <div>
      <h5>Product</h5>
      <ul>
        <li><a href="">Why Pacis?</a></li>
        <li><a href="">Mobile Apps</a></li>
        <li><a href="">GPS tracking</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">API</a></li>
      </ul>
    </div>
    <div>
      <h5>Have a Questions?</h5>
      <ul>
        <li><a href="">FAQ</a></li>
        <li><a href="">Forum</a></li>
        <li><a href="">Contact Support</a></li>
      </ul>
    </div>
    <div>
      <h5>Contact Us</h5>
      <ul>
        <li><a href="">Facebook</a></li>
        <li><a href="">Twitter</a></li>
        <li><a href="">LinkedIn</a></li>
      </ul>
    </div>

  </div>
  <h6>Copyright © 2016 Pacis Inc. All Rights Reserved.<br>
    <a href="" target="_blank">Privacy policy</a> |
    <a href="" target="_blank">Term of Use</a> |
    <a href="" target="_blank">Security</a>
  </h6>
</footer>
