<!DOCTYPE html>
<html>
<head>
  <title>Pacis</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="https://i.imgur.com/UquEhCw.png" type="favicon/ico" />

</head>
<body>

<header>
  <ul>
  <%= link_to image_tag("https://i.imgur.com/XTloRNF.png"), root_path, :class => "logo" %>
<!--   <img class="logo" src="https://i.imgur.com/XTloRNF.png"> -->
    <% if current_user %>
      <li class="log-out-btn"><%= link_to 'Log-out', session_path('dummy'), method: :delete %></li>
      <div class="welcome">
        <li>
          Welcome,
          <strong style="text-transform: uppercase">
            <%= current_user.first_name %>
          </strong>
            <%= current_user.title %> of
          <strong style="text-transform: capitalize">
            <%= current_company.name %>
          </strong>
        </li>
      </div>
    <% else %>
      <li><%= link_to 'Sign-in', login_path, :class => "sign-in-btn"  %><li>
      <li><%= link_to 'Sign-up', new_company_path, :class => "sign-up-btn" %><li>
    <% end %>
  </ul>
</header>

<% if session[:user_id] && current_user.access_lvl == 3 %>
  <ul class="side-nav">
    <li><%= link_to "Home", company_users_path(current_user.company_id), :class => "active"%></li>
    <li>
      <% if User.find(current_user.id).shifts.first == nil %>
        <%= link_to "Clock In", new_user_shift_path(current_user) %>
      <% else %>
        <% if current_user.shifts.last.check_in == false %>
          <%= link_to "Clock In", new_user_shift_path(current_user) %>
        <% elsif current_user.shifts.last.check_in == true %>
          <%= link_to "Clock out", edit_user_shift_path(current_user,current_user.shifts.last), :style => 'background: #c75458;' %>
        <% end %>
      <% end %>
    </li>
    <li>
      <%= link_to "Your Log", company_user_path(current_user.company_id,current_user.id) %>
    </li>
    <li><a href="#paystub">Pay Stubs</a></li>
    <li>
      <%= link_to "Edit Info", edit_company_user_path(current_user.company_id,current_user.id) %>
    </li>
    <% if current_user.access_lvl == 3 %>
      <li>
        <%= link_to "Company Info", edit_company_path(current_user.company_id) %>
      </li>
    <% end %>
    <li><%= link_to 'Log-out', session_path('dummy'), method: :delete %></li>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
