<!DOCTYPE html>
<html>
<head>
  <title>Pacis</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="https://i.imgur.com/UquEhCw.png" type="favicon/ico" />

</head>
<body>

<header>
  <ul>
  <%= link_to image_tag("https://i.imgur.com/XTloRNF.png"), root_path, :class => "logo" %>
<!--   <img class="logo" src="https://i.imgur.com/XTloRNF.png"> -->
    <% if current_user %>
      <li class="log-out-btn"><%= link_to 'Log-out', session_path('dummy'), method: :delete %></li>
      <div class="welcome">
        <li>
          Welcome,
          <strong style="text-transform: uppercase">
            <%= current_user.first_name %>
          </strong>
            <%= current_user.title %> of
          <strong style="text-transform: capitalize">
            <%= current_company.name %>
          </strong>
        </li>
      </div>
    <% else %>
      <li><%= link_to 'Sign-in', login_path, :class => "sign-in-btn"  %><li>
      <li><%= link_to 'Sign-up', new_company_path, :class => "sign-up-btn" %><li>
    <% end %>
  </ul>
</header>
<%= yield %>

</body>
</html>
