<!DOCTYPE html>
<html>
<head>
  <title>Pacis</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <img class="logo" src="https://i.imgur.com/XTloRNF.png">
</nav>
<%= link_to "Sign Up", new_company_user_path(1) %>

<%= yield %>

</body>
</html>
