<!DOCTYPE html>
<html>
<head>
  <title>Pacis</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/../assets/images/pacis_ico.png" type="favicon/ico" />

</head>
<body>

<nav>
  <img class="logo" src="https://i.imgur.com/XTloRNF.png">
  <p>
    <% if current_user %>
      Welcome, <strong> <%= current_user.username %> </strong>
      of <%= current_company.name %>
      <%= link_to 'Logout', session_path('dummy'), method: :delete %>
    <% else %>
      <%= link_to 'Login', login_path %>
    <% end %>
  </p>
</nav>

<%= yield %>

</body>
</html>
